{% extends 'layouts/base.html' %}


{% load static %}


{% block 'CSS_attachement' %}
<link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
<style>
    #highest-rated .content::after {
        content: "";
        background-color: #000a;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.7;
    }

</style>
{% endblock %}

{% block 'page-title' %}
<title>NileFund - CrowdFunding</title>
{% endblock %}


{% block 'hero-section-content' %}
<!-- Start hero section -->
<section class="vh-100" id="hero-section">
<div class="container">
    <div class="row align-items-center">
    <div class="col-md-5 pe-5 mt-5">
        <h2 class="display-3 text-uppercase fw-bold mb-5">From Vision to Reality</h2>
        <p class="fs-4 my-4 pb-2">Be a part of something <span class="fw-bold">Extraordinary!!</span></p>
        <div class="rounded-5 border border-danger-subtle px-1">
            <form method="GET" action="{% url 'search' %}" class="d-flex align-items-center position-relative">
                <div class="m-1">
                    <select name="search_option" id="id_search_option" class="form-select rounded-5 border border-danger-subtle">
                        <option value="project">Project</option>
                        <option value="tag">Tag</option>
                    </select>
                </div>
                <div>
                    <input type="text" name="query" id="id_query" placeholder="search for a project" class="form-control bg-white border-0 rounded-4 shadow-none py-3 w-100" maxlength="100" required>
                </div>
                <button class="btn btn-special rounded-5 px-4 py-2 position-absolute align-items-center m-1 end-0">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-7 mt-5">
        <img src="{% static 'homepage/images/goals.svg' %}" alt="img" class="img-fluid">
    </div>
    </div>
</div>
</section>
{% endblock %}


{% block 'body-content' %}
<!-- About us section -->
<section id="about-us" class="mb-5">
    <div class="container py-4">
    <h2 class="fw-light text-center mb-4"><span class="fw-bold">About</span> us</h2>
    <center>
        <p class="w-75 mx-auto">NileFund Web App is a platform dedicated to revolutionizing fundraising in Egypt. 
        Our mission is to empower individuals and organizations to bring their projects to life by with the collective power of the community.

        Join us in shaping the future of fundraising in Egypt. Together, we can turn dreams into reality and make a lasting impact on our communities. 
        Welcome to NileFund, where every contribution counts towards a brighter tomorrow.</p>
        </center>
</div>
</section>

<!-- highest-rated projects section -->
<section id="highest-rated" class="mb-5">
    <div class="container py-4">
    <h2 class="fw-light text-center "><span class="fw-bold">Highest-rated</span> projects</h2>

    <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for project in highest_rated_projects %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <div class="mx-auto position-relative overflow-hidden rounded-3" style="height: 28rem; width: 55rem;">
                        <div class="content" style="background-image: url('{{ project.image_url }}'); background-repeat: no-repeat; background-position: center; background-size: cover; height: 28rem; width: 55rem;">
                        </div>
                        <!-- <img src="{{ project.image_url }}" class="d-block img-thumbnail w-auto h-100"> -->
                        
                        <div class="layer pb-4 start-0 top-0 position-absolute w-auto h-100 d-flex justify-content-end align-items-end text-white">
                            <div class="row">
                                <div class="ps-5 col-md-10">
                                    <h5 class="">{{project.title}}</h5>
                                    <p class="my-1 w-75">{{project.details}}</p>
                                    <span class="d-flex align-items-center">
                                        <p class="fw-semibold m-0 me-1">Rating</p>
                                        {% for star in "*****" %}
                                            {% if forloop.counter <= project.rate %}
                                                <i class="fas fa-star text-warning"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="col-md-2 mb-3 align-self-end">
                                    {% if not user.is_superuser %}
                                    <a href="{% url 'project_details' id=project.id %}"class="btn btn-special rounded-5 px-4 py-2">Donate</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="carousel-indicators position-static mt-3">
            {% for project in highest_rated_projects %}
                <button 
                    type="button" 
                    data-bs-target="#carouselExampleIndicators" 
                    data-bs-slide-to="{{ forloop.counter0 }}" 
                    {% if forloop.first %} class="active" {% endif %}
                    aria-label="Slide {{ forloop.counter }}"
                    {% if forloop.first %} aria-current="true" {% endif %}
                ></button>
            {% endfor %}
        </div>
    </div>
    </div>
</section>

<!-- Featured projects section -->
<section id="featured" class="padding-medium">
    <div class="container py-4">
        <h2 class="fw-light text-center mb-5"><span class="fw-bold">Featured</span> projects</h2>

        <div class="row">
            {% for project in latest_featured_projects %}
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
                <div class="card rounded-4 border-0 shadow-sm p-3 position-relative" style="height: 20rem;">
                    <div class="img-container" style="height: 10rem;">
                        <img src="{{ project.image_url }}" class="d-block mx-auto img-fluid rounded-3 w-auto h-100" alt="Project Image">
                    </div>
                    <div class="card-body p-0">          
                        <div class="card-text">
                            <div class="d-flex justify-content-between my-3">
                                <h5 class="text-black-50 fw-bold text-uppercase m-0">{{ project.title }}</h5>
                            </div>
                            <!-- <p class="course-title py-2 m-0">{{ project.details }}</p> -->
                            <span class="rating d-flex align-items-center mt-3">
                                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                                {% for star in "*****" %}
                                    {% if forloop.counter <= project.rate %}
                                        <i class="fas fa-star text-warning"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    {% if not user.is_superuser %}
                    <a href="{% url 'project_details' id=project.id %}" class="btn btn-secondary d-block my-2">View details</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Created projects section -->
<section id="latest-created" class="padding-medium">
    <div class="container py-4">
        <h2 class="fw-light text-center mb-5"><span class="fw-bold">Latest Created</span> projects</h2>

        <div class="row">
            {% for project in latest_created_projects %}
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
                <div class="card rounded-4 border-0 shadow-sm p-3 position-relative" style="height: 25rem;">
                    <div class="img-container" style="height: 10rem;">
                        <img src="{{ project.image_url }}" class="d-block mx-auto img-fluid rounded-3 w-auto h-100" alt="Project Image">
                    </div>
                    <div class="card-body p-0">          
                        <div class="card-text">
                            <div class="d-flex justify-content-between my-3">
                                <h5 class="text-black-50 fw-bold text-uppercase m-0">{{ project.title }}</h5>
                            </div>
                            <!-- <p class="course-title py-2 m-0">{{ project.details }}</p> -->
                            <span class="rating d-flex align-items-center mt-3">
                                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                                {% for star in "*****" %}
                                    {% if forloop.counter <= project.rate %}
                                        <i class="fas fa-star text-warning"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                        <br>
                    </div>       
                    {% if not user.is_superuser %}
                    <a href="{% url 'project_details' id=project.id %}" class="btn btn-secondary d-block my-2">View details</a>
                   {% endif %}
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section id="popular-categories" class="padding-medium">
    <div class="container py-4">
        <h2 class="fw-light text-center mb-5"><span class="fw-bold">Popular</span> Categories</h2>

        <div class="row">
            {% if categories_list|length <= 6 %}
                {% for category in categories_list %}
                    <div class="col-md-4">
                        <div class="bg-gray-color-subtle bg-gray-color-subtle:hover rounded-3 p-4 my-3">
                            <a href="{% url 'category_projects' category.id %}" class="link-underline link-underline-opacity-0">
                                <div class="d-flex align-items-center justify-content-center">
                                <div class="ps-4 text-center">
                                    <p class="category-paragraph fw-bold text-uppercase my-2">{{category.name}}</p>
                                    <p>{{category.num_projects}} Projects</p>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for category in categories_list %}
                    {% if forloop.counter <= 5 %}
                    <div class="col-md-4">
                        <div class="bg-gray-color-subtle bg-gray-color-subtle:hover rounded-3 p-4 my-3">
                            <a href="{% url 'category_projects' category.id %}" class="link-underline link-underline-opacity-0">
                                <div class="d-flex align-items-center justify-content-center">
                                <div class="ps-4 text-center">
                                    <p class="category-paragraph fw-bold text-uppercase my-2">{{category.name}}</p>
                                    <p>{{category.num_projects}} Projects</p>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% if categories_list|length > 6 %}
                <div class="col-md-4">
                    <div class="bg-gray-color-subtle bg-gray-color-subtle:hover rounded-3 p-4 my-5">
                        <a href="{% url 'all_categories' %}" class="link-underline link-underline-opacity-0">
                            <div class="d-flex align-items-center justify-content-center">
                            <div class="ps-4">
                                <p class="category-paragraph fw-bold text-uppercase m-0">View All</p>
                            </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            </div>
    </div>
</section>

{% endblock %}


{% block 'JS_attachement' %}
<script src="{% static 'homepage/js/script.js' %}"></script>
{% endblock %}