{% extends 'layouts/base.html' %}


{% load static %}

{% block 'CSS_attachement' %}
<link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
{% endblock %}

{% block 'page-title' %}
<title>NileFund - CrowdFunding</title>
{% endblock %}


{% block 'hero-section-content' %}
<!-- Start hero section -->
<section id="hero-section">
<div class="container">
    <div class="row align-items-center">
    <div class="col-md-5 pe-5 mt-5">
        <h2 class="display-3 text-uppercase fw-bold mb-5">From Vision to Reality</h2>
        <p class="fs-4 my-4 pb-2">Be a part of something <span class="fw-bold">Extraordinary!!</span></p>
        <div>
        <form id="form" class="d-flex align-items-center position-relative ">
            <input type="text" name="email" placeholder="search for a project"
            class="form-control bg-white border-0 rounded-4 shadow-none px-4 py-3 w-100">
            <button class="btn btn-special rounded-5 px-4 py-2 position-absolute align-items-center m-1 end-0">
            <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        </div>
    </div>
    <div class="col-md-7 mt-5">
        <img src="{% static 'homepage/images/goals.svg' %}" alt="img" class="img-fluid">
    </div>
    </div>
</div>
</section>
{% endblock %}


{% block 'body-content' %}
<!-- About us section -->
<section id="about-us" class="mb-5">
    <div class="container py-4">
    <h2 class="fw-light text-center mb-4"><span class="fw-bold">About</span> us</h2>
    <p class="w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, quam. Reprehenderit, est voluptate? Incidunt sit iure tempore commodi non quos unde architecto magni vel hic, beatae soluta, provident cum impedit voluptate. Modi voluptatibus explicabo odio officiis placeat enim adipisci ullam at eligendi! Quia fuga consequatur quo temporibus sint. Error veniam ea, maiores ullam dolorum, necessitatibus impedit beatae optio eaque deserunt in iusto quam ipsum. Temporibus quos porro repellat architecto rerum?</p>
    </div>
</section>

<!-- highest-rated projects section -->
<section id="highest-rated" class="mb-5">
    <div class="container py-4">
    <h2 class="fw-light text-center "><span class="fw-bold">Highest-rated</span> projects</h2>

    <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item text-center active">
            <i class="fa-solid fa-4x fa-sheet-plastic"></i>
            <!-- <img class="d-block mx-auto rounded-pill" src="#"/> -->
            <h5 class="my-2">Project Name</h5>
            <p class="mx-auto py-2 my-3 w-75">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officia, ab odio sed quos amet magni vel, sint alias accusantium labore modi reiciendis libero. Et quia vel ad facere provident.
            </p>
            <a href="#"class="btn btn-special rounded-5 px-4 py-2">Fund</a>
        </div>
        
        <div class="carousel-item text-center">
            <i class="fa-solid fa-4x fa-sheet-plastic"></i>
            <!-- <img class="d-block mx-auto rounded-pill" src="#"/> -->
            <h5 class="my-2">Project Name</h5>
            <p class="mx-auto py-2 my-3 w-75">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam fuga nisi aperiam officiis perspiciatis libero eum consequuntur dignissimos illo. Consectetur dicta nesciunt repellat perferendis quasi fuga explicabo, voluptate unde. Quibusdam?
            </p>
            <a href="#"class="btn btn-special rounded-5 px-4 py-2 ">Fund</a>
        </div>
        </div>

        <div class="carousel-indicators position-static mt-3">
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
        ></button>
        </div>
    </div>
    </div>
</section>

<!-- Featured projects section -->
<section id="featured" class="padding-medium">
    <div class="container py-4">
    <h2 class="fw-light text-center mb-5"><span class="fw-bold">Featured</span> projects</h2>

    <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
            <div class="card-body p-0">          
            <div class="card-text">
                <div class="d-flex justify-content-between my-3">
                <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                </div>
            
                <p class="course-title py-2 m-0">Project description</p>
                <span class="rating d-flex align-items-center mt-3">
                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </span>
            </div>
            </div>
        </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
            <div class="card-body p-0">          
            <div class="card-text">
                <div class="d-flex justify-content-between my-3">
                <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                </div>
            
                <p class="course-title py-2 m-0">Project description</p>
                <span class="rating d-flex align-items-center mt-3">
                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </span>
            </div>
            </div>
        </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
            <div class="card-body p-0">          
            <div class="card-text">
                <div class="d-flex justify-content-between my-3">
                <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                </div>
            
                <p class="course-title py-2 m-0">Project description</p>
                <span class="rating d-flex align-items-center mt-3">
                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </span>
            </div>
            </div>
        </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
            <div class="card-body p-0">          
            <div class="card-text">
                <div class="d-flex justify-content-between my-3">
                <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                </div>
            
                <p class="course-title py-2 m-0">Project description</p>
                <span class="rating d-flex align-items-center mt-3">
                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </span>
            </div>
            </div>
        </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
            <div class="card-body p-0">          
            <div class="card-text">
                <div class="d-flex justify-content-between my-3">
                <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                </div>
            
                <p class="course-title py-2 m-0">Project description</p>
                <span class="rating d-flex align-items-center mt-3">
                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </span>
            </div>
            </div>
        </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
            <div class="card-body p-0">          
            <div class="card-text">
                <div class="d-flex justify-content-between my-3">
                <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                </div>
            
                <p class="course-title py-2 m-0">Project description</p>
                <span class="rating d-flex align-items-center mt-3">
                <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </span>
            </div>
            </div>
        </div>
        </div>


    </div>
    </div>
</section>
{% endblock %}


{% block 'JS_attachement' %}
<script src="{% static 'homepage/js/script.js' %}"></script>
{% endblock %}