{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    <title>NileFund - CrowdFunding</title>
</head>
<body>

    <div class="header vh-100 overflow-hidden">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg rounded-5 mx-5 my-3 shadow-sm">
            <div class="container-fluid px-5">
            <a class="navbar-brand fw-bold" href="#">NileFund<span class="special-color"> .</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">All Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tags</a>
                </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <button class="btn btn-outline-special ms-auto">Fund a Project</button>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
            </div>
            </div>
        </nav>

        <!-- Start hero section -->
        <section id="hero-section">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-md-5 pe-5 mt-5">
                <h2 class="display-3 text-uppercase fw-bold mb-5">From Vision to Reality</h2>
                <p class="fs-4 my-4 pb-2">Be a part of something <span class="fw-bold">Extraordinary!!</span></p>
                <div>
                <form id="form" class="d-flex align-items-center position-relative ">
                    <input type="text" name="email" placeholder="search for a project"
                    class="form-control bg-white border-0 rounded-4 shadow-none px-4 py-3 w-100">
                    <button class="btn btn-special rounded-5 px-4 py-2 position-absolute align-items-center m-1 end-0">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
    
                </div>
            </div>
            <div class="col-md-7 mt-5">
                <img src="{% static 'homepage/images/goals.svg' %}" alt="img" class="img-fluid">
            </div>
            </div>
        </div>
        </section>
    </div>

    <!-- About us section -->
    <section id="about-us" class="mb-5">
        <div class="container py-4">
        <h2 class="fw-light text-center mb-4"><span class="fw-bold">About</span> us</h2>
        <p class="w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, quam. Reprehenderit, est voluptate? Incidunt sit iure tempore commodi non quos unde architecto magni vel hic, beatae soluta, provident cum impedit voluptate. Modi voluptatibus explicabo odio officiis placeat enim adipisci ullam at eligendi! Quia fuga consequatur quo temporibus sint. Error veniam ea, maiores ullam dolorum, necessitatibus impedit beatae optio eaque deserunt in iusto quam ipsum. Temporibus quos porro repellat architecto rerum?</p>
        </div>
    </section>

    <!-- highest-rated projects section -->
    <section id="highest-rated" class="mb-5">
        <div class="container py-4">
        <h2 class="fw-light text-center "><span class="fw-bold">Highest-rated</span> projects</h2>

        <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item text-center active">
                <i class="fa-solid fa-4x fa-sheet-plastic"></i>
                <!-- <img class="d-block mx-auto rounded-pill" src="#"/> -->
                <h5 class="my-2">Project Name</h5>
                <p class="mx-auto py-2 my-3 w-75">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officia, ab odio sed quos amet magni vel, sint alias accusantium labore modi reiciendis libero. Et quia vel ad facere provident.
                </p>
                <a href="#"class="btn btn-special rounded-5 px-4 py-2">Fund</a>
            </div>
            
            <div class="carousel-item text-center">
                <i class="fa-solid fa-4x fa-sheet-plastic"></i>
                <!-- <img class="d-block mx-auto rounded-pill" src="#"/> -->
                <h5 class="my-2">Project Name</h5>
                <p class="mx-auto py-2 my-3 w-75">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam fuga nisi aperiam officiis perspiciatis libero eum consequuntur dignissimos illo. Consectetur dicta nesciunt repellat perferendis quasi fuga explicabo, voluptate unde. Quibusdam?
                </p>
                <a href="#"class="btn btn-special rounded-5 px-4 py-2 ">Fund</a>
            </div>
            </div>

            <div class="carousel-indicators position-static mt-3">
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            ></button>
            </div>
        </div>
        </div>
    </section>

    <!-- Featured projects section -->
    <section id="featured" class="padding-medium">
        <div class="container py-4">
        <h2 class="fw-light text-center mb-5"><span class="fw-bold">Featured</span> projects</h2>

        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
            <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
                <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
                <div class="card-body p-0">          
                <div class="card-text">
                    <div class="d-flex justify-content-between my-3">
                    <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                    </div>
                
                    <p class="course-title py-2 m-0">Project description</p>
                    <span class="rating d-flex align-items-center mt-3">
                    <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
            <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
                <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
                <div class="card-body p-0">          
                <div class="card-text">
                    <div class="d-flex justify-content-between my-3">
                    <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                    </div>
                
                    <p class="course-title py-2 m-0">Project description</p>
                    <span class="rating d-flex align-items-center mt-3">
                    <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
            <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
                <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
                <div class="card-body p-0">          
                <div class="card-text">
                    <div class="d-flex justify-content-between my-3">
                    <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                    </div>
                
                    <p class="course-title py-2 m-0">Project description</p>
                    <span class="rating d-flex align-items-center mt-3">
                    <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
            <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
                <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
                <div class="card-body p-0">          
                <div class="card-text">
                    <div class="d-flex justify-content-between my-3">
                    <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                    </div>
                
                    <p class="course-title py-2 m-0">Project description</p>
                    <span class="rating d-flex align-items-center mt-3">
                    <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
            <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
                <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
                <div class="card-body p-0">          
                <div class="card-text">
                    <div class="d-flex justify-content-between my-3">
                    <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                    </div>
                
                    <p class="course-title py-2 m-0">Project description</p>
                    <span class="rating d-flex align-items-center mt-3">
                    <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
            <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
                <img src="https://placehold.co/200" class="img-fluid rounded-3" alt="image">
                <div class="card-body p-0">          
                <div class="card-text">
                    <div class="d-flex justify-content-between my-3">
                    <h5 class="text-black-50 fw-bold text-uppercase m-0">Project Name</h5>
                    </div>
                
                    <p class="course-title py-2 m-0">Project description</p>
                    <span class="rating d-flex align-items-center mt-3">
                    <p class="text-muted fw-semibold m-0 me-2">Rating</p>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </span>
                </div>
                </div>
            </div>
            </div>


        </div>
        </div>
    </section>


    <!-- Footer section -->
    <footer class="footer bg-dark mt-5" id="footer">
        <div class="container py-4 text-center text-white">
            <p class="mb-1">Copyright 2024 &copy; By <span class="fw-bold">ITI</span> -  All Rights Reserved</p>
        </div>
        </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'homepage/js/script.js' %}"></script>
</body>
</html>