{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {% for field in user_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
            <button class="btn" type="submit">Save Changes</button>
            <button class='btn'>
                <a href="{% url 'change.password' %}" >Change Password</a>
            </button>   
        </form>
    </div>
</body>
</html>
