{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form %}
                {% if field.name == 'country' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <select name="{{ field.name }}" class="form-control">
                            {% for value, label in field.field.choices %}
                                <option value="{{ value }}" {% if value == field.value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            <button class="btn" type="submit">Save Changes</button>
            <button class='btn'>
                <a href="{% url 'change.password' %}" >Change Password</a>
            </button>   
        </form>
    </div>
</body>
</html>
