
:root {
    --main-color: #EC6C5A;
    --main-color-hover: #E96351;
    --white-color: #FFFFFF;
}

.special-color {
    color: var(--main-color);
}

.special-bg {
    background-color: var(--main-color);
}

/* Start Client Section */
.carousel-indicators [data-bs-target] {
    background-color: var(--main-color);
    width: 20px;
    height: 4px;
}

.carousel-indicators [data-bs-target].active {
    width: 35px;
}


.btn-special,
.btn-outline-special {
    --bs-btn-border-color: var(--main-color);
    --bs-btn-hover-color: var(--white-color);
    --bs-btn-hover-bg: var(--main-color-hover);
    --bs-btn-hover-border-color: var(--main-color-hover);
    --bs-btn-active-color: var(--white-color);
    --bs-btn-active-bg: var(--main-color-hover);
    --bs-btn-active-border-color: var(--main-color-hover);
    --bs-btn-disabled-border-color: var(--main-color-hover);
}

.btn-special {
    --bs-btn-color: var(--white-color);
    --bs-btn-bg: var(--main-color);
    --bs-btn-disabled-color: var(--white-color);
    --bs-btn-disabled-bg: var(--main-color-hover);
}


.btn-outline-special {
    --bs-btn-color: var(--main-color);
    --bs-btn-disabled-color: var(--main-color);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}