{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
    integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <title>NileFund - 404 Not Found</title>
</head>
<body>
    <section class="container d-flex flex-column align-items-center justify-content-center" id="hero-section">
        <div class="d-flex align-items-center justify-content-center" style="height: 33rem;">
            <img src="{% static 'homepage/images/404_Error.svg' %}" alt="img" class="img-fluid w-100 h-100">
        </div>
        <h2 class="fw-light text-center mb-5 fw-semibold text-uppercase">Opps, Page Not Found</h2>
        <a href="{% url 'home.landing' %}" class="btn btn-special mx-auto">Return Home</a>
        </section>
</body>
</html>