.alert {
  color: #df0d22;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.alert-danger {
  font-weight: bold;
  color: #f1182d;
}

.messages.error {
  background-color: transparent;
  color: red;
}

.messages.success {
  background-color: transparent;
  color: green;
}

.main-body {
  padding: 15px;
}

.mt--10 {
  margin-top: 10px;
}

.mt--50 {
  margin-top: 50px;
}

.mb--5 {
  margin-bottom: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.bg-gray-300 {
  background-color: #1d1e1f;
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  box-shadow: none !important;
}

.containerr {
  width: 70%;
  margin-left: 130px;
}

.info {
  width: 30%;
  height: 500px;
  margin-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info img {
  height: 250px;
  width: 250px;
}

.details {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 70%;
}

.rowD {
  display: flex;
}

.d-flex {
  display: flex;
}

.item {
  padding: 20px;
}

.title {
  width: 20%;
  font-weight: bold;
}

.boody {
  font-weight: bold;
  color: rgba(94, 92, 92, 0.719);
  width: 80%;
}

.butn {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #EC6C5A, #ad564c);
  border: 0.5px solid transparent;
  box-shadow: 0 0 10px rgba(51, 49, 49, 0.5);
  transition: box-shadow 0.3s ease;
}

.butn:hover {
  box-shadow: 0 0 20px rgba(236, 108, 90, 0.8);
}

.butn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.butn:hover {
  color: #e2e8f0;
}

.butn2 {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #e4b5ae, #df7f75);
  border: 0.5px solid transparent;
  box-shadow: 0 0 10px rgba(51, 49, 49, 0.5);
  transition: box-shadow 0.3s ease;
}

.butn2:hover {
  box-shadow: 0 0 20px rgba(236, 108, 90, 0.8);
  color: #e2e8f0;
}


input {
  width: 70%;
  padding: 10px;
}

.bigCont {
  display: flex;
}

.sidebar2 {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f3d6d6;
  border-radius: 20px;
  margin-top: 50px;
  height: 560px;
  overflow: auto;
}

/* Sidebar links */
.sidebar2 a {
  font-weight: bold;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar2 a.active {
  color: rgba(236, 108, 90, 0.8);
  display: block;
  color: black;
}

/* Links on mouse-over */
.sidebar2 a:hover:not(.active) {
  border: solid white;
  color: rgba(255, 89, 67, 0.8);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
}

.close {
  position: relative;
  color: #f08787;
  left: 440px;
  top: -10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-content h2 {
  margin-top: 0;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.butn,
.butn2 {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.butn-danger {
  background-color: #dc3545;
  color: #fff;
}

.butn-danger:hover {
  background-color: #c82333;
}

/* Deactivated button style */
.butn-deactivate {
  background-color: #f5f5f5;
  color: #666;

  transition: background-color 0.3s, color 0.3s;
  font-weight: 300;
}

/* Deactivated button hover style */
.butn-deactivate:hover {
  background-color: #e5e5e5;
  color: #a51111;
}

.butn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.s-input {
  width: 470px;
}

.confirm-button {
  margin-left: 2px;
}