
.main-body {
    padding: 15px;
  }

  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  .mt-5 {
    margin-bottom: 100px;
  }
  

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }
  
  .gutters-sm > .col,
  .gutters-sm > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
  }
  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .bg-gray-300 {
    background-color: #1d1e1f;
  }
  .h-100 {
    height: 100% !important;
  }
  .shadow-none {
    box-shadow: none !important;
  }
  
  .container {
    width: 70%;
    margin: auto;
  }
  
  .info {
    width: 30%;
    height: 500px;
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .info img {
   height: 250px;
   width: 250px;
  }
  
  .details {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 70%;
  }
  
  .row {
    display: flex;
  }
  
  .d-flex {
    display: flex;
  }
  
  .item {
    padding: 20px;
  }
  
  .title {
    width: 20%;
    font-weight: bold;
  }
  
  .boody {
    font-weight: bold;
    color: rgba(94, 92, 92, 0.719);
    width: 80%;
  }
  
  
  .btn {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #EC6C5A, #ad564c);
    border: 0.5px solid transparent; 
    box-shadow: 0 0 10px rgba(51, 49, 49, 0.5);
    transition: box-shadow 0.3s ease; 
}

.btn:hover {
    box-shadow: 0 0 20px rgba(236, 108, 90, 0.8);
}

.btn a {
  color: white; /* Set text color to white */
  font-weight: bold; /* Make text bold */
  text-decoration: none; /* Remove underline */
}  
  .btn:hover {
    color: #e2e8f0;
  }
  
  input {
    width: 100%;
    padding: 10px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#f1f1f1 ;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    color: rgb(150, 121, 121);
    display: block;
    color: black;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    border: solid white;
    color: rgb(21, 21, 21);
  }
  
  
  
  
  .bigCont{
    display: flex;
  }
  
  .sidebar2 {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color:#f1f1f1 ;
    margin-top: 50px;
    height: 560px;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar2 a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar2 a.active {
    color: rgb(150, 121, 121);
    display: block;
    color: black;
  }
  
  /* Links on mouse-over */
  .sidebar2 a:hover:not(.active) {
    border: solid white;
    color: rgb(21, 21, 21);
  }
